*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/.idea/gradle.xml
/.idea/AndroidProjectSystem.xml
/com.bs2.empresas-9zAULBoH4DQpyZ7nVSL3hw==/base.dm
/com.nomadfintech.bank.app.android-3fXgSUKnZitU7m0SLdg-sw==/base.dm
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/deviceManager.xml
/.kotlin/errors/errors-1772468402755.log
/.kotlin/errors/errors-1772468456002.log
/app/google-services.json
/app/.idea/migrations.xml
/app/.idea/misc.xml
/app/.idea/runConfigurations.xml
/com.bs2.empresas-9zAULBoH4DQpyZ7nVSL3hw==/split_config.arm64_v8a.apk
/com.nomadfintech.bank.app.android-3fXgSUKnZitU7m0SLdg-sw==/split_config.arm64_v8a.apk
/com.bs2.empresas-9zAULBoH4DQpyZ7nVSL3hw==/split_config.it.apk
/com.nomadfintech.bank.app.android-3fXgSUKnZitU7m0SLdg-sw==/split_config.it.apk
/com.bs2.empresas-9zAULBoH4DQpyZ7nVSL3hw==/split_config.pt.apk
/com.nomadfintech.bank.app.android-3fXgSUKnZitU7m0SLdg-sw==/split_config.pt.apk
/com.bs2.empresas-9zAULBoH4DQpyZ7nVSL3hw==/split_config.xxhdpi.apk
/com.nomadfintech.bank.app.android-3fXgSUKnZitU7m0SLdg-sw==/split_config.xxhdpi.apk
/app/.idea/vcs.xml
